:root {
  --primary-text-color: #757575;
  --title-text-color: #000000;
  --accent-color: #2196f3;
  --caption-text-color: #212121;
  --title-background-color: #2f303a;
  --btn-hover-bgcolor: #188ce8;

  /*наша команда*/
  --section-backgraund-color: #ffffff;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --filter-bg-color: #f5f4fa;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--section-backgraund-color);
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.header-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.logo-accent {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--caption-text-color);
  text-decoration: none;
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.contact-mail,
.contact-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}
.contact-mail:hover,
.contact-mail:focus {
  color: var(--accent-color);
}
.section-hero {
  background-color: var(--title-background-color);
}
.headline {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--section-backgraund-color);
}

.btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--section-backgraund-color);
  background-color: var(--accent-color);
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background-color: var(--btn-hover-bgcolor);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.filter-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--caption-text-color);
  background-color: var(--filter-bg-color);
  cursor: pointer;
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--section-backgraund-color);
  background-color: var(--accent-color);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.project-title {
  visibility: hidden;
}
.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--caption-text-color);
}
.text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.middle-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--caption-text-color);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--caption-text-color);
}
.team-section {
  text-align: center;
  background-color: var(--filter-bg-color);
}
.team-list {
  background-color: var(--section-backgraund-color);
}
.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--caption-text-color);
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.project-link {
  text-decoration: none;
}
.project-caption {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--caption-text-color);
  /*не розумію чому не працює*/
}
.project-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  /*не розумію чому не працює*/
}
.footer {
  background-color: var(--title-background-color);
}
.map {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--section-backgraund-color);
  text-decoration: none;
}
.map:hover,
.map:focus {
  color: var(--accent-color);
}
.footer-contact {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contact-color);
  text-decoration: none;
}
.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-color);
}
.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--section-backgraund-color);
}
.current {
  color: var(--accent-color);
}
